* {
	box-sizing: border-box;
}

body {
	background: #E6D5EB;
}


body > header {
	background-color: #FCC856;
	padding: 0;
	margin: 10px;
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	box-shadow: 0px 0px 2px 2px black inset;
}


body > header > h1,
body > header > p,
body > header > section,
body > header > nav,
body > header > form,
body > header > a {
	margin:10px;
	overflow: hidden;
	background-color: #FC6F6F;
	padding:10px;
	border: 2px solid black;
	box-shadow: 0px 0px 2px 2px black inset;
}

section > img {
	width: 30%;
	height: 30%;
	margin-top: 50px;
}

header > section {
	order: -1;
}

header > h1, header > p {
 	flex-grow: 1;
 }

body > header > *
{
	width: 10rem;
	height: 10rem;
	margin: 0.1em;
	overflow: hidden;


}




/* ------------------------------------ */


.is-invisible {
	display: none;
}

.is-visible {
	display: block;
}

select,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

input[type="radio"] {
	margin-bottom: 20px;
	margin-top: 15px;
}


fieldset {
	background-color: #C7C7C7;
	margin-top: 20px;
	transition: background-color 0.5s ease;
}

fieldset:hover {
	background: #A3FFA6;
}

legend {
	color: red;
}

main > section:nth-child(3), 
main > section:nth-child(1), 
aside + footer {
	width: 100%;
	background-color: #FCC856;
	margin: 0.5em auto;
	padding:1em;

	border-radius: 1em;
	border: 3px solid black;
}

main > section:nth-child(3) > article {
	width: 100%;
	background-color: #9CDB8C;
	margin: 0.5em auto;
	padding:1em;

	border-radius: 1em;
	border: 3px solid black;

	word-wrap: break-word;
}

aside {
	width: 100%;
	background-color: #E6E47C;
	margin: 0.5em auto;
	padding:1em;

	border-radius: 1em;
	border: 3px solid black;
}

aside > section{
	width: 100%;
	background-color: #FABEC1;
	margin: 0.5em auto;
	padding:1em;

	border-radius: 1em;
	border: 3px solid black;

	overflow: hidden;
}


[for="naam"]::before,
[for="email"]::before {
	content: " *";
	color: red;
	font-size: 2em;
}





footer > section > input {
	position: relative;
	margin-left: 100px;
	top: -40px;

}

footer > section > input + nav{
	display: none;
}


footer > section  > input:checked + nav {
	display: block;
}






aside + footer {
	background: #63C9CF;

	width: 100%;
	margin: 0.5em auto;
	padding:1em;

	border-radius: 1em;
	border: 3px solid black;
	box-shadow: 0px 0px 5px 2px black inset;
}


footer > section {
	border: 2px solid black;
	max-width: 500px;
	padding: 10px;
	margin: 0 auto;
}







@media (min-width: 40em) {

	main > section:nth-child(3), 
	main > section:nth-child(1), 
	aside {
		width: 60%;
	}

	main > section:nth-child(2) {
		width: 60%;
		margin: 0 auto;
	}

	aside + footer {
		width: 60%;
	}
}

@media (min-width: 85.8em) {

	aside + footer {
		background: #63C9CF;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;	

		width: 100%;
		margin: 0.5em auto;
		padding:1em;

		border-radius: 1em;
		border: 3px solid black;
		box-shadow: 0px 0px 5px 2px black inset;
	}

	footer > section {
		max-width: 300px;
	}

}